.DS_Store
*.log
node_modules/
/dist/
.tmp
.sass-cache
/app/lib
.idea/
/docs/
/www/

##########Platforms##########
/platforms/


##########iOS##########
platforms/ios/cordova/console.log


############credentials#######
/app/modules/core/services/credentials.js