<div ng-controller="GroupsController">
    <md-toolbar class="md-hue-3" layout="row" layout-align="space-between center">
        <md-button ng-click="newGroup()"><i class="fa fa-plus-square"></i> new group</md-button>
        <md-button ng-click="refresh()"><i class="fa fa-refresh"></i></md-button>
    </md-toolbar>
    <md-list>
        <div ng-repeat="group in groups">
            <md-list-item class="md-3-line secondary-button-padding" layout-margin>
                <img ng-src="img/vinyl-record.jpg" class="md-avatar" alt=" " />
                <div class="md-list-item-text" layout="column">
                    <h3>{{ group.name }}</h3>
                    <h4>{{ group.description }}</h4>
                    <p>{{ group.tracks.length }} Tracks, <span ng-if="group.members.length===1">only you</span> <span ng-if="group.members.length>1">{{group.members.length}} Members</span></p>
                    <div class="md-secondary">
                        <md-button ng-show="group.moreInfos" ng-click="inviteToGroup(group.id)" aria-label="invite member"><i class="fa fa-user-plus"></i></md-button>
                        <md-button ng-show="group.moreInfos" ng-click="leaveGroup(group.id)" aria-label="invite member"><i class="fa fa-sign-out"></i></md-button>
                        
                        <md-button ng-show="group.moreInfos" ng-click="showTracks(group)" aria-label="show more"><i class="fa fa-chevron-down"></i></md-button>
                        <md-button ng-show="!group.moreInfos" ng-click="showTracks(group)" aria-label="show less"><i class="fa fa-chevron-up"></i></md-button>
                    </div>
                </div>
            </md-list-item>
            <div layout="row" layout-xs="column" layout-wrap>
                <track layout="row" ng-class="track.showComments ? 'flex-sm-100 flex-md-100 flex-lg-100' : 'flex-lg-33'" layout-align="start stretch" flex-xs="100" flex-sm="50" flex-md="50" flex-lg="33" layout-wrap flex="33" ng-show="group.moreInfos" ng-repeat="track in group.sctracks" track="track" group="group"> </track>
            </div>
            <md-divider></md-divider>

        </div>

    </md-list>
</div>