.waveform-holder {
    position: relative;
    z-index: 1;
}

.waveform-overlay {
    position: absolute;
    top: 0;
    z-index: 1;
    background: blue;
    opacity: 0.5;
    height: 100%;
}

.waveform {
    position: relative;
    z-index: 2;
    width: 100%;
}

#backgroundimage {
    background-position: center;
    background-image: url('../img/loaders/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: auto;
}

#backgroundfull { 
  background: url(../img/login/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.brightfont {
    color: azure;
}

@font-face {
    font-family: cool;
    src: url("../fonts/Swistblnk Duwhoers Brush.otf") format("opentype");
}

.loginheader {
    font-size: 72pt;
    text-align: center;
    font-family: 'cool', Helvetica, Verdana, Sans-Serif;
    color: white;
}

.profile-avatar {
    border-radius: 50%;
}

#radarx {
    width: 300px;
    height: 300px;
}
