.waveform-holder {
    position: relative;
    z-index: 1;
}

.waveform-overlay {
    position: absolute;
    top: 0;
    z-index: 1;
    background: blue;
    opacity: 0.5;
    height: 100%;
}

.waveform {
    position: relative;
    z-index: 2;
    width: 100%;
}

#backgroundimage {
    background-position: center;
    background-image: url('../img/loaders/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: auto;
}


.image-blurred-edge {
    background-image: url('http://lorempixel.com/200/200/city/9');
    width: 200px;
    height: 200px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px white inset;
}

#past{
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    /* For IE 8*/
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    z-index:10;
    padding:10px;
-moz-box-shadow:0px 0px 7px #000000;
-webkit-box-shadow:0px 0px 7px #000000;
box-shadow:0px 0px 7px #000000;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; 
}


md-card {
    background: #FAFAFF;
}

md-whiteframe {
    background: #FAFAFF;
}

.brightfont {
    color: azure;
}

.decentbackground {
    background-color: #AAAAAE;
}

@font-face {
    font-family: cool;
    src: url("../fonts/Swistblnk Duwhoers Brush.otf") format("opentype");
}

.loginheader {
    font-size: 72pt;
    text-align: center;
    font-family: 'cool', Helvetica, Verdana, Sans-Serif;
    color: white;
}

.profile-avatar {
    border-radius: 50%;
}

#radarx {
    width: 300px;
    height: 300px;
}
