<md-card layout-margin flex>
    <md-card-title ng-click="track.showComments=!track.showComments">
        <md-card-title-text>
            <span class="md-headline">{{track.title | beautifyTitle}}</span>
            <span class="md-subhead">{{track.user.username}}</span>
            <div class="md-subhead" layout="row" layout-align="space-between start">
                <span class="md-subhead" layout-align="start start">{{track.created_at | beautifyDate}}</span>
                <span class="md-subhead"><i class="fa fa-play"></i> {{track.playback_count | beautifyNumber}}</span>
                <span class="md-subhead"><i class="fa fa-heart"></i> {{track.favoritings_count | beautifyNumber}}&nbsp&nbsp</span>
            </div>

        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-md card-media"><img alt="-" ng-src="{{track.artwork_url | artworksize: 't300x300'}}" />
            </div>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="space-between">
        <md-button class="md-icon-button" aria-label="play" ng-click="play(track)" ng-show="!track.isPlaying">
            <i class="fa fa-play"><md-tooltip md-direction="top">
          play
        </md-tooltip></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="pause" ng-click="play(track)" ng-show="track.isPlaying">
            <i class="fa fa-pause"><md-tooltip md-direction="top">
          pause
        </md-tooltip></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="share" ng-click="addToGroup(track)">
            <i class="fa fa-share">
                <md-tooltip md-direction="top">
          post in group
        </md-tooltip></i>
        </md-button>
        <md-button ng-show="track.comments" class="md-icon-button" aria-label="share" ng-click="track.showComments=!track.showComments">
            <i class="fa fa-comment">
                <md-tooltip md-direction="top">
          comment
        </md-tooltip></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="playlater" ng-click="addToPlayNext(track)">
            <i class="fa fa-hourglass-start"><md-tooltip md-direction="top">
          add to next tracks
        </md-tooltip></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="niceone" target="_blank" href="{{track.permalink_url}}">
            <i class="fa fa-soundcloud"><md-tooltip md-direction="top">
          open soundcloud page
        </md-tooltip></i>
        </md-button>
    </md-card-actions>
    <div ng-show="track.showComments">
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="comment in track.comments">
                <img ng-src="{{findMember(comment.author_id).avatar_url}}" class="md-avatar" alt="-" />
                <div class="md-list-item-text" layout="column">
                    <h4>{{comment.text}}</h4>
                    <p>{{findMember(comment.author_id).full_name}} {{comment.added_at | beautifyDate}}</p>
                </div>
            </md-list-item>
        </md-list>
        <div>
            <md-input-container class="md-block">
                <label>Add a comment</label>
                <textarea ng-model="track.newcomment"></textarea>
            </md-input-container>
            <md-button ng-click="addComment()">send</md-button>
        </div>
    </div>
</md-card>