<div ng-controller="PlaylistsController">

    <md-list>
        <md-list-item layout="column" layout-align="center start" ng-repeat="playlist in playlists">
            <div layout="column" layout-align="center start" flex="100" ng-click="getPlaylist(playlist.index)">
                <h3>{{playlist.title}}</h3>
                <p>{{playlist.track_count}} Tracks, {{playlist.duration_readable}}</p>
            </div>
            <div ng-show="playlist.showTracks" layout="row" layout-align="center stretch" layout-xs="column"  layout-wrap>
                <track layout flex-xs="100" flex-sm="50" flex-md="50" flex-lg="33" layout-wrap flex="33" track="track" ng-repeat="track in playlist.tracks"></track>
            </div>
        </md-list-item>
    </md-list>
</div>
