<div ng-controller="PlaylistsController">
    <md-toolbar ng-if="false" class="md-hue-3" layout="row" layout-align="space-between center">
        <md-button ng-click="newGroup()"><i class="fa fa-plus-square"></i> new group</md-button>
        <md-button ng-click="refresh()"><i class="fa fa-refresh"></i></md-button>
    </md-toolbar>

    <md-list>
        <div ng-repeat="playlist in playlists">
            <md-list-item ng-click="getPlaylist(playlist.index)" class="md-3-line secondary-button-padding" layout-margin>
                <img ng-src="img/vinyl-record.jpg" class="md-avatar" alt=" " />
                <div class="md-list-item-text" layout="column">
                    <h3>{{playlist.title}}</h3>
                    <h4>{{playlist.track_count}} Tracks </h4>
                    <p>{{playlist.duration_readable}}</p>

                    <div class="md-secondary">
                            <i ng-show="playlist.showTracks" class="fa fa-chevron-down"></i>
                            <i ng-show="!playlist.showTracks" class="fa fa-chevron-up"></i>
                    </div>
                </div>
            </md-list-item>
            <div ng-show="playlist.showTracks" layout="row" layout-align="center stretch" layout-xs="column" layout-wrap>
                <track ng-repeat="track in playlist.tracks" layout flex-xs="100" flex-sm="50" flex-md="50" flex-lg="33" layout-wrap flex="33" track="track"></track>
            </div>
        </div>
    </md-list>
</div>