
    <md-whiteframe class="md-whiteframe-1dp" ng-show="!full.info" layout="row" layout-align="start center">
        <img layout-margin ng-src="{{track.artwork_url | artworksize: 'small'}}" />
        <md-button class="md-icon-button" aria-label="play" ng-click="play(track)" ng-show="!track.isPlaying">
            <i class="fa fa-play"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="pause" ng-click="play(track)" ng-show="track.isPlaying">
            <i class="fa fa-pause"></i>
        </md-button>
        <div flex="80" layout="row" layout-align="center space-around">
            <div>
                <span>{{track.user.username}}</span> - <span>{{track.title | beautifyTitle}}</span>
            </div>
        </div>

        <md-button class="md-icon-button" aria-label="niceone" ng-click="full.info=true">
            <i class="fa fa-chevron-down"></i>
        </md-button>
    </md-whiteframe>

    <md-card ng-show="full.info" layout-margin flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{track.title | beautifyTitle}}</span>
                <span class="md-subhead">{{track.user.username}}</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-md card-media"><img alt="-" ng-src="{{track.artwork_url | artworksize: 't300x300'}}" />
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-content>
            <div layout="column" layout-align="start end" flex class="waveform-holder">
                <img class="waveform" id="waveformprogress" ng-src="{{track.waveform_url}}" ng-click="clickWaveform($event)" ng-Style="{'height': '50px'}" />
                <span ng-Style="{'width': playerService.audio.stream.progress*100 + '%'}" class="waveform-overlay"> </span>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="space-between">
            <md-button class="md-icon-button" aria-label="play" ng-click="play(track)" ng-show="!track.isPlaying">
                <i class="fa fa-play"><md-tooltip md-direction="top">
          play
        </md-tooltip></i>
            </md-button>
            <md-button class="md-icon-button" aria-label="pause" ng-click="play(track)" ng-show="track.isPlaying">
                <i class="fa fa-pause"><md-tooltip md-direction="top">
          pause
        </md-tooltip></i>
            </md-button>
            <md-button class="md-icon-button" aria-label="share">
                <i class="fa fa-share">
                <md-tooltip md-direction="top">
          post in group
        </md-tooltip></i>
            </md-button>
            <md-button class="md-icon-button" aria-label="niceone" target="_blank" href="{{track.permalink_url}}">
                <i class="fa fa-soundcloud"><md-tooltip md-direction="top">
          open soundcloud page
        </md-tooltip></i>
            </md-button>
            <md-button class="md-icon-button" aria-label="niceone" ng-click="full.info=false">
                <i class="fa fa-chevron-up"><md-tooltip md-direction="top">
          show less infos
        </md-tooltip></i>
            </md-button>
        </md-card-actions>
    </md-card>
