<div flex class="decentbackground" layout="column">
    <md-whiteframe class="md-whiteframe-1dp" ng-if="!playerService.audio.stream" layout="row" layout-align="center center">
        <img layout-margin ng-src="{{me.avatar_url | artworksize: 'small'}}" />
        <div layout="row" layout-align="center space-around">
            <div>
                <strong>Hi {{me.first_name}}!</strong>
            </div>
        </div>
    </md-whiteframe>

    <audioplayer ng-if="playerService.audio.stream" layout="column" layout-align="center stretch" track="playerService.audio.info"></audioplayer>

    <md-tabs flex class="md-primary" md-selected="selectedIndex">
        <md-tab ng-repeat="tab in tabs">
            <md-tab-label>
                <i class="fa {{tab.icon}} fa-2x"></i> {{tab.title}}
            </md-tab-label>

            <md-tab-body>
                <div ng-include="tab.content"></div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>