<div ng-controller="GroupsController">
    <md-list>
        <div ng-repeat="group in groups">
            <md-list-item class="md-3-line secondary-button-padding">
                <div class="md-list-item-text" layout="column">
                    <h3>{{ group.name }}</h3>
                    <h4>{{ group.description }}</h4>
                    <p>{{ group.tracks.length }} Tracks</p>
                    <md-button class="md-secondary" ng-click="showTracks(group)">show tracks</md-button>
                </div>

            </md-list-item>
            
            <div ng-show="group.doShowTracks" ng-repeat="track in group.sctracks">{{track.title}}</div>
                
        </div>
        <md-divider></md-divider>
    </md-list>
</div>