<div layout="row" layout-align="start center">
    <img flex="15" layout-margin ng-src="{{audio.info.artwork_url}}" class="md-avatar" />
    <div flex="80" layout="column">
        <p>{{audio.info.title}}</p>
        <div>
            <div flex class="waveform-holder">
                <img class="waveform" ng-src="{{audio.info.waveform_url}}" />
                <span ng-Style="{'width': audio.stream.progress*100 + '%'}" class="waveform-overlay"> </span>
            </div>
        </div>
    </div>
</div>