<div flex ng-cloak layout="column">
    
    <div ng-if="audio.stream === undefined" layout="row" layout-align="center center">
        <img alt="-" ng-src="{{info.me.avatar_url}}" class="md-avatar" />
        <h1>Hi {{info.me.first_name}}!</h1>
    </div>
    <div ng-if="audio.stream" ng-include="'modules/core/views/currentPlay.template.html'"></div>

    <md-tabs flex class="md-primary" md-selected="selectedIndex">
        <md-tab ng-repeat="tab in tabs" label="{{tab.title}}">            
            <div ng-include="tab.content"></div>
            <br/>
        </md-tab>
    </md-tabs>
</div>
