<div>
    <md-list>

        <md-list-item ng-repeat="track in $parent.playlist.tracks" ng-click="moreinfos=!moreinfos">
            <img alt="-" ng-src="{{track.artwork_url}}" class="md-avatar" />
            <md-button ng-click="playPauseSound(track)">
                <p>{{ track.title }}</p>
            </md-button>
            <i ng-if="track.isPlaying" class="fa fa-play"></i>
            <!--<md-button class="md-fab md-raised" aria-label="playbutton" ng-click="playPauseSound(track)">
                    <i ng-if="track.isPlaying" class="fa fa-pause"></i>
                    <i ng-if="!track.isPlaying" class="fa fa-play"></i></md-button>-->
            <div ng-show="moreinfos" layout="row" layout-margin>
                <md-button class="md-fab md-mini md-primary" aria-label="button"><i class="fa fa-thumbs-o-up"></i></md-button>
                <md-button class="md-fab md-mini md-primary" aria-label="button"><i class="fa fa-thumbs-o-up"></i></md-button>
                <md-button class="md-fab md-mini md-primary" aria-label="button"><i class="fa fa-thumbs-o-up"></i></md-button>
            </div>
        </md-list-item>

    </md-list>
</div>