<md-list>  
    <md-list-item layout="column" layout-align="center start" ng-repeat="playlist in $parent.info.playlists">
        <div layout="column" layout-align="center start" flex="100" ng-click="$parent.getPlaylist(playlist.index)">
            <h3>{{playlist.title}}</h3>
            <p>{{playlist.track_count}} Tracks, {{playlist.duration_readable}}</p>
        </div>
        <div ng-if="playlist.showTracks"  ng-include="'modules/core/views/playlist.template.html'"></div>
    </md-list-item>
</md-list>

