<div layout="row" layout-align="start center">
    <img layout-margin ng-src="{{playerService.audio.info.artwork_url | artworksize: 'small'}}" />
    <md-button class="md-icon-button" aria-label="play" ng-click="play(track)" ng-show="!track.isPlaying">
                    <i class="fa fa-play"></i>
                </md-button>
                <md-button class="md-icon-button" aria-label="pause" ng-click="play(track)" ng-show="track.isPlaying">
                    <i class="fa fa-pause"></i>
                </md-button>
    <div flex="80" layout="row">
        <span>{{playerService.audio.info.user.username}}</span> - <span>{{playerService.audio.info.title}}</span>
    </div>
</div>