<div flex ng-cloak layout="column">

    <div ng-if="playerService.audio.stream === null" layout="row" layout-align="center center">
        <img alt="-" ng-src="{{me.avatar_url}}" class="md-avatar" />
        <h1>Hi {{me.first_name}}!</h1>
    </div> 
    
    <div ng-show="playerService.audio.stream && !fullInfos" layout="row" layout-align="none space-between" >
        <div flex="90" ng-include="'modules/core/views/currentPlayMini.template.html'"></div>
        <md-button aria-label="fullinfos" ng-click="fullInfos=true"><i class="fa fa-info"></i></md-button>
    </div>

    <div ng-show="playerService.audio.stream && fullInfos" layout="row" layout-align="none space-between" >
        <div flex="90" ng-include="'modules/core/views/currentPlay.template.html'"></div>
        <md-button aria-label="lessinfos" ng-click="fullInfos=false"><i class="fa fa-info"></i></md-button>
    </div>

    <md-tabs flex class="md-primary" md-selected="selectedIndex">
        <md-tab ng-repeat="tab in tabs">
            <md-tab-label>
                <i class="fa {{tab.icon}} fa-2x"></i> {{tab.title}}
            </md-tab-label>

            <md-tab-body>
                <div ng-include="tab.content"></div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>